* {
    bg-dinamico: #35343a; /* Color oscuro sólido garantizado por Matugen */
    accent:      #bfc2ff;
    text:        #e4e1e9;              /* Texto claro que contrasta perfectamente */
    urgent:      #ffb4ab;
}
